.contact {
	text-align: center;
	padding: 110px 0px;

	&__logo {
		margin: 0px 0px 35px 0px;
	}

	&__title {
		color: #848789;
		font-size: 24px;
		font-style: italic;
		line-height: 34px;
		text-align: center;
		margin: 0px 0px 35px 0px;
	}

	&__form {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__input {
		input {
			padding: 0px 28px;
			width: 400px;
			height: 69px;
			border: 1px solid #d3d7d9;
			background-color: #ffffff;
			color: #929292;
			font-size: 20px;
			font-style: italic;
			line-height: 24px;
			&:focus{
				color:#000;
				border: 1px solid #000;
			}
		}
	}

	&__btn {
		padding: 23px 45px;
		background-color: #64c29e;
		color: #ffffff;
		font-size: 24px;
		font-weight: 300;
		line-height: 24px;
		text-align: center;
		text-transform: uppercase;
		margin: 0px 0px 0px 8px;
	}
}
