.discover {
	background-color: #282f35;
	padding: 75px 0px;
	text-align: center;
	&__btn {
		padding: 20px 60px;
		color: #ffffff;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2.8px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		text-decoration: none;
		@media (max-width:574.98px){
			padding: 20px 35px;
		}
	}
	
}
