@import "base/null.scss";
@import "base/fonts";
@import "base/btn";
@import "base/links";

* {
	font-family: "Pacifico", cursive;
	margin: 0;
	padding: 0;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
// for fullscrenn
// .wrapper {
// 	min-height: 100vh;
// 	overflow: hidden;
// 	display: flex;
// 	flex-direction: column;
// }
.container {
	max-width: 1130px;
	margin: 0px auto;
	padding: 0px 15px;
	@media (max-width: 1199.98px) {
		max-width: 970px;
	}
	@media (max-width: 991.98px) {
		max-width: 750px;
	}
	@media (max-width: 767.98px) {
		max-width: none;
	}
}
.page {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.title {
	margin: 32px auto 0px auto;
	max-width: 257px;
	color: #0a3442;
	font-size: 20px;
	letter-spacing: 2.3px;
	line-height: 25.22px;
	text-align: center;
}

.content {
	background: url("../img/main_bg.jpg") center center/cover no-repeat;
	&__icon {
	}

	&__economy {
		width: 289px;
		height: 72px;
		border-radius: 40px 0 0 40px;
		box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
		background-image: linear-gradient(to top, rgba(103, 186, 198, 0.72) 0%, rgba(152, 229, 236, 0.49) 100%);
	}

	&__fvorite {
	}

	&__pro {
	}

	&__surprise {
	}
}

.economy {
	text-align: right;
	&__link {
		display: flex;
		align-items: center;
	}

	&__icon {
	}

	&__text {
	}
}
.fvorite {
	&__link {
	}

	&__icon {
	}

	&__text {
	}
}
.pro {
	&__link {
	}

	&__icon {
	}

	&__text {
	}
}
.surprise {
	&__link {
	}

	&__icon {
	}

	&__text {
	}
}

@import "blocks/header";
@import "blocks/footer";
